body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  background-image: url("https://uploads-ssl.webflow.com/5ec207a448d573153616868a/60e32bee436ec4884dfae1ea_Mesh%2088.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 10px double black;
}

.clear-button {
  background-color: #d1c951;
  border-radius: 5px;
}

.clear-button:active {
  background-color: #717779;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.hidden {
  display: none;
}

h4 {
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  font-size: 17px;
  /* border-top: grey 2px dotted;
  border-bottom: grey 2px dotted; */
}

.long-hour {
  margin-right: 10px !important;
}

.event-text {
  width: 60vw;
  height: 10vh;
  font-weight: bold;
  border-left: gray 3px solid;
  border-right: gray 3px solid;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

.past {
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
}

.present {
  background-color: #9faff8;
  color: rgb(0, 0, 0);
}

.future {
  background-color: #77dd77;
  color: rgb(0, 0, 0);
}

.saveBtn {
  height: 10vh;
  width: 7vw;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #bd1f69;
  color: white;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#footer {
  background-image: url("https://uploads-ssl.webflow.com/5ec207a448d573153616868a/60e32bee436ec4884dfae1ea_Mesh%2088.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: grey 3px groove;
  height: 50px;
  color: white;
}
